<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>纯CSS3实现的tab标签</title>
    <link href="./css/main.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <ul id="tabs">
      <li><a href="#" title="tab1">实用工具</a></li>
      <li><a href="#" title="tab2">智能问答 </a></li>
    </ul>
    <script src="./js/jquery-1.6.3.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#tabs li:first").attr("id", "current"); // Activate first tab
        $("#tabs a").click(function (e) {
          e.preventDefault();
          $("#tabs li").attr("id", ""); //Reset id's
          $(this).parent().attr("id", "current"); // Activate this
          $("#" + $(this).attr("title")).fadeIn(); // Show content for current tab
          // 切换当前view
          window.electronAPI.changeView($(this).attr("title"))
        });
      })();
    </script>
  </body>
</html>
